@charset "UTF-8";
/* CSS Document */

h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:49px;
	color:#58595b;
	font-style:inherit;
}
	
.domenico{
	display: flex;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:48px;
	color:#58595b;
	font-style:inherit;
	/*margin-top:12px;*/
	/*height:48px;*/
	border-bottom:solid 2px #58595b
	}
	
.header{
	display: flex;
	flex-direction: column;
/*width: 900px;*/
	margin: auto;
	/*margin-top:-50px;*/
	margin-bottom: 50px;	}
	
.filetto{
	width:900px;
	
	}
	
.menu{
	/*	display: flex;
	justify-content: flex-start;
	row-gap: 30px;
	text-align:right;*/
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.2rem;
	font-color:#58595b;
	font-style:italic;
	font-weight:bold;
	text-decoration:none;
	}
	
a:link, a:visited {
  	color:#58595b;
  	text-decoration: none;
	}
.flex{
	display: flex;
	flex-direction: row;
}

.flex img {
	width:100%;
}