[Desktop Entry]
Version=1.0
Type=Link
Name=(14) How to Zoom Image On Click using HTML & CSS Only - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=ASm99MNnCdE
