[Desktop Entry]
Version=1.0
Type=Link
Name=How to Make the Images Bigger when Clicked? - GeeksforGeeks
Comment=
Icon=user-bookmarks
URL=https://www.geeksforgeeks.org/how-to-make-the-images-bigger-when-clicked/
